<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Hakyll Blog - $title$</title>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body class="hack">
      <div class="main container">
        <h1>
          new<b id="T"><u>t</u></b
            ><b id="Y"><u>y</u></b
            ><b id="P"><u>p</u></b
            ><b id="E"><u>e</u></b
            ><b id="bropen" ><u>(</u></b
            ><b id="brclose"><u>)</u></b><span id="hidden"> { newtype | newtype& }; newtype</span>
        </h1>
        $body$
      </div>
    </body>
</html>
