<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/rstrtt.css" />
  <title>Newtype</title>
</head>
<body class="rstrtt">
  <div class="main container">
    <h1>
      new<span class="red">t</span><span class="yellow">y</span><span class="green">p</span><span class="cyan">e</span><span class="purple" >6</span><span class="pink">4</span>
    </h1>
    $body$
  </div>
</body>
</html>
